---
import "/src/styles/global.css";
import TopBar from "../components/TopBar.astro";
import { CustomCursor } from "../components/CustomCursor";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>

    <body class="w-full mx-auto bg-neutral-900 text-neutral-400">
        <CustomCursor client:load />

        <TopBar />

        <div class="w-full lg:w-[50vw] mx-auto">
            <slot />
        </div>
    </body>
</html>
