---
import Layout from "../layouts/Layout.astro";
import type { ApiResponse } from "../../../photo-cms/src/types/apiTypes.ts";
import "/src/styles/global.css";

import ImageDisplay from "../components/ImageDisplay.astro";

const res = await fetch("http://localhost:3001/api/photoSet/");
const sets: ApiResponse = await res.json();
---

<Layout title="ok got it">

    {
        sets.docs.map( (projectSet) => (
            <h1 class="font-extrabold text-5xl">
                {projectSet.project.title}
            </h1>

            <div class="">
                {
                    projectSet.images.filter((image) => image.isThumbnail).map( (image) => (
                        <ImageDisplay srcImage={image.image} />
                    ))
                }
            </div>
        ))
    }
</Layout>
