---
import Layout from "../layouts/Layout.astro";
import type { ApiResponse } from "../../../photo-cms/src/types/apiTypes.ts";
import "/src/styles/global.css";

import ImageDisplay from "../components/ImageDisplay.astro";

const res = await fetch("http://localhost:3001/api/photoSet/");
const photoSetsJSON: ApiResponse = await res.json();

const photoSetsArray = photoSetsJSON.docs;
---

<Layout title="ok got it">
    {
        photoSetsArray.map((photoSet) => (
            <>
                {/* Display Thumbnails here */}
                <div class="">
                    <ImageDisplay photoSetImages={photoSet.images} />
                </div>
            </>
        ))
    }
</Layout>
