---
import Layout from "../layouts/Layout.astro";
import type { WebsiteLayout } from "../../../photo-cms/src/types/apiTypes";
import "/src/styles/global.css";

import ImageDisplay from "../components/ImageDisplay";
import ImageCarouselReact from "../components/ImageCarouselReact";

const res = await fetch("http://localhost:3001/api/globals/websiteLayout");
const websitelayout: WebsiteLayout = await res.json();

const allPhotoSetWrappers = websitelayout.photosets;
---

<Layout title="ok got it">
    {
        allPhotoSetWrappers.map((photoSetWrapper) => (
            <>
                {/* Display Thumbnails here */}
                <div class="select-none w-full flex justify-center items-center">
                    <ImageDisplay
                        photoSet={photoSetWrapper.photoset}
                        client:load
                    />
                </div>
                {/* 
                <ImageCarouselReact
                    client:visible
                    photoSet={photoSetWrapper.photoset}
                /> */}
            </>
        ))
    }
</Layout>
