---
import type { WebsiteLayout } from "../../../../photo-cms/src/types/apiTypes";
import LayoutProjects from "../../layouts/LayoutProjects.astro";
import ImageCarouselReact from "../../components/ImageCarouselReact";

export async function getStaticPaths() {
    const res = await fetch("http://localhost:3001/api/globals/websiteLayout");
    const websitelayout: WebsiteLayout = await res.json();

    const allPhotoSetWrappers = websitelayout.photosets;

    allPhotoSetWrappers.map((el) => console.log(el.photoset.project.slugTitle));

    return allPhotoSetWrappers.map(({ photoset }) => ({
        params: {
            projectSlug: photoset.project.slugTitle,
        },
        props: { photoset },
    }));
}

const { photoset } = Astro.props;
---

<LayoutProjects title={photoset.project.title}>
    <div class="w-full">
        <ImageCarouselReact client:load photoSet={photoset} />
    </div>
</LayoutProjects>
