---
import { Image } from "astro:assets";
import type { ImageWrapper } from "../../../photo-cms/src/types/apiTypes.ts";

interface Props {
    photoSetImages: ImageWrapper[];
}

const { photoSetImages } = Astro.props;

const thumbnails = photoSetImages.filter((image) => image.isThumbnail);

const basePicture = thumbnails[0].image;
---

<div class="flex flex-col py-0.5 lg:py-1">
    <div class="flex justify-center items-center gap-1 lg:gap-2">
        {
            thumbnails.map((thumbnailImg, index) => (
                <div class="hover:shadow-neutral-700 hover:shadow-lg transition-all duration-500 hover:cursor-pointer">
                    <Image
                        src={`http://localhost:3001/${thumbnailImg.image.url}`}
                        alt={thumbnailImg.image.alt}
                        height={basePicture.height}
                        width={
                            (basePicture.height * thumbnailImg.image.width) /
                            thumbnailImg.image.height
                        }
                        loading={index < 2 ? "eager" : "lazy"}
                    />
                </div>
            ))
        }
    </div>
</div>
