---

---

<div class="pt-5">
    <div
        class="flex justify-between items-center border-y-1 py-3 font-bold w-[95vw] mx-auto"
    >
        <div class="pr-5 md:pr-10">LB</div>
        <div class="">TITLE</div>
        <div class="pl-5 md:pl-10">insta</div>
    </div>
</div>
