---

---

<div class="flex justify-between items-center my-5 border-y-1 py-2 font-bold">
    <div class="bg-orange-300 pr-5 md:pr-10">LB</div>
    <div class="">TITLE</div>
    <div class="bg-orange-300 pl-5 md:pl-10">insta</div>
</div>
